<div class="container mt-3">

    <div class="titulo-cuadro d-flex align-items-center">
        <img src="/facturas.svg" alt="Facturas" class="title-icon">
        <span class="texto-titulo">Facturas</span>
    </div>

    <div class="container w-100">

        <div class="d-flex justify-content-end mb-3 mt-5">
            <button class="btn btn-success" (click)="mostrarFormulario = true">
                Agregar Factura
            </button>
        </div>

        <div *ngIf="mostrarFormulario" class="modal-flotante">
            <div class="modal-contenido p-4 rounded">
                <button class="btn-close float-end" (click)="mostrarFormulario = false"></button>
                <h2 class="text-center mb-4">Agregar Factura</h2>

                <form [formGroup]="facturaForm" (ngSubmit)="agregarRegistro()">

                    <div class="mb-3">
                        <label class="form-label">Vendedor</label>
                        <input type="text" formControlName="vendedor" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">NIT</label>
                        <input type="text" formControlName="nit" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Valor</label>
                        <input type="number" formControlName="valorFactura" class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-primary w-100" [disabled]="!facturaForm.valid">Agregar
                        Factura</button>
                </form>
            </div>
        </div>

    </div>

    <div class="table-responsive w-100 overflow-auto">
        <table class="table table-striped table-secondary table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Id Factura</th>
                    <th>Vendedor</th>
                    <th>NIT</th>
                    <th>Valor</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of registros">
                    <td>{{ factura.idFactura }}</td>
                    <td>
                        <input *ngIf="facturaEditando?.idFactura === factura.idFactura"
                            [(ngModel)]="facturaEditando.vendedor" class="form-control" />
                        <span *ngIf="!facturaEditando || facturaEditando.idFactura !== factura.idFactura">
                            {{ factura.vendedor }}
                        </span>
                    </td>
                    <td>
                        <input *ngIf="facturaEditando?.idFactura === factura.idFactura"
                            [(ngModel)]="facturaEditando.nit" class="form-control" />
                        <span *ngIf="!facturaEditando || facturaEditando.idFactura !== factura.idFactura">
                            ${{ factura.nit}}
                        </span>
                    </td>
                    <td>
                        <input *ngIf="facturaEditando?.idFactura === factura.idFactura"
                            [(ngModel)]="facturaEditando.valorFactura" class="form-control" />
                        <span *ngIf="!facturaEditando || facturaEditando.idFactura !== factura.idFactura">
                            ${{ factura.valorFactura | number:'1.0-0' }}
                        </span>
                    </td>
                    <td>{{ factura.fechaFactura | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td class="acciones-cell">
                        <div class="d-flex align-items-center">
                            <button *ngIf="facturaEditando?.idFactura === factura.idFactura" (click)="guardarEdicion()"
                                class="btn btn-success btn-sm me-2">Guardar</button>
                            <button *ngIf="facturaEditando?.idFactura === factura.idFactura" (click)="cancelarEdicion()"
                                class="btn btn-secondary btn-sm me-2">Cancelar</button>

                            <button *ngIf="!facturaEditando || facturaEditando.idFactura !== factura.idFactura"
                                (click)="iniciarEdicion(factura)" class="btn btn-warning btn-sm me-2">Editar</button>
                            <button *ngIf="!facturaEditando || facturaEditando.idFactura !== factura.idFactura"
                                (click)="eliminarRegistro(factura.idFactura)"
                                class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>