<nav class="navbar navbar-dark bg-dark sidebar-nav">
  <!-- Botón hamburguesa (solo visible en pantallas pequeñas) -->
  <button class="navbar-toggler d-md-none m-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarContent"
    aria-controls="sidebarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Sidebar contenido -->
  <div class="collapse navbar-collapse d-md-block" id="sidebarContent">
    <div class="menu-line"></div>

    <div class="icono-container d-flex align-items-center m-3">
      <ion-icon class="icon" name="hammer-outline"></ion-icon>
      <span class="menu-title">Todo en Gas & Algo Más</span>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/catalogo" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img src="/catalogo.svg" alt="Dashboard" class="nav-icon"> Catálogo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/menu" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img src="/dashboard.svg" alt="Dashboard" class="nav-icon"> DashBoard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productos" routerLinkActive="active" (click)="onUserSelection('todo')"
          data-bs-toggle="collapse" data-bs-target="#sidebarContent">
          <img src="/productos.svg" alt="Productos" class="nav-icon"> Productos
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="categoriasDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="/categorias.svg" alt="Categorías" class="nav-icon"> Categorías
        </a>
        <ul class="dropdown-menu minimal-dropdown dropdown-size" aria-labelledby="categoriasDropdown">
          <li class="item-dropdown" *ngFor="let categoria of categorias">
            <a class="dropdown-item custom-item" [routerLink]="'/productos'" (click)="onUserSelection(categoria.valor)"
              data-bs-toggle="collapse" data-bs-target="#sidebarContent">
              {{ categoria.nombre }}
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ventas" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img src="/venta.svg" alt="Ventas" class="nav-icon"> Ventas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/trabajos" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img src="/trabajos.svg" alt="Trabajos" class="nav-icon"> Trabajos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/facturas" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img class="nav-icon" src="/facturas.svg" alt="Facturas"> Facturas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reportes" routerLinkActive="active" data-bs-toggle="collapse"
          data-bs-target="#sidebarContent">
          <img src="/ventas.svg" alt="Reportes" class="nav-icon"> Reportes
        </a>
      </li>
    </ul>
  </div>
</nav>