.texto-filtrar {
    color: #212529;
    font-size: 16px;
  }

.container{
  margin-top: 4rem;
}

.container-filter{
  margin-left: 10px;
}

  .producto-img {
    max-height: 400px;
    width: auto;
    object-fit: contain;
  }