
<div class="container mt-3">

    <div class="titulo-cuadro d-flex align-items-center">
        <img src="/ventas.svg" alt="Reportes" class="title-icon">
        <span class="texto-titulo">Reportes</span>
    </div>
    

    <table class="table table-striped table-bordered mt-5">
        <thead class="table-dark">
            <tr>
                <th>idReporte</th>
                <th>tipoReporte</th>
                <th>valorMensual</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reporte of reportes">
                <td>{{ reporte.idReporte }}</td>
                <td>{{ reporte.tipoReporte }}</td>
                <td>${{ reporte.valorMensual }}</td>
                <td>{{ reporte.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
            </tr>
        </tbody>
    </table>
</div>
    