<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="input-group search-bar">
        <span class="input-group-text search-icon" (click)="buscarProducto()">
          <img src="lupa.svg" alt="Buscar" class="icon-img" />
        </span>

        <div class="separator-container">
          <div class="separator"></div>
        </div>

        <input type="text" [(ngModel)]="idProductoBuscar" (input)="filtrarProductos()" list="productosList"
          (keydown.enter)="buscarProducto()" placeholder="Ingrese el ID o Nombre del Producto"
          class="form-control search-input" />
      </div>

      <datalist id="productosList">
        <option *ngFor="let producto of productosFiltrados" [value]="producto.idProducto">
          {{ producto.nombre }}
        </option>
      </datalist>

    </div>
  </div>

  <div class="row justify-content-center mt-4" *ngIf="productoEncontrado || mostrarTablaMultiple">
    <div class="col-md-10 text-end">
      <button class="btn btn-dark btn-sm" (click)="cerrarTablaMultiple()">
        Cerrar tabla
      </button>
    </div>
  </div>

  <div class="row justify-content-center mt-3 mb-4" *ngIf="productoEncontrado">
    <div class="col-md-10">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Precio Descuento</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ productoEncontrado.idProducto }}</td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.nombre" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.nombre }}</span>
            </td>
            <td>
              <select *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.tipo" class="form-select">
                <option *ngFor="let tipo of tipos" [value]="tipo.valor">{{ tipo.nombre }}</option>
              </select>
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.tipo | titlecase}}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precio" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precio | number:'1.0-0' }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precioDescuento"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precioDescuento ?
                (productoEncontrado.precioDescuento | number:'1.0-0') : 'N/A'}}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.cantidad"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.cantidad }}</span>
            </td>
            <td>
              <div class="d-flex justify-content-center gap-2 mt-2 mb-2">

                <div *ngIf="productoEncontrado.editando" class="d-flex gap-2">
                  <button class="btn btn-info btn-sm" (click)="mostrarFormularioImagen(productoEncontrado)">Subir
                    Imagen</button>
                  <button class="btn btn-success btn-sm" (click)="guardarEdicion()">Guardar</button>
                  <button class="btn btn-secondary btn-sm" (click)="cancelarEdicion()">Cancelar</button>
                </div>


                <div *ngIf="!productoEncontrado.editando" class="d-flex gap-2">
                  <button *ngIf="!productoEncontrado.imagen" class="btn btn-info btn-sm"
                    (click)="mostrarFormularioImagen(productoEncontrado)">Subir
                    Imagen</button>
                  <button class="btn btn-secondary btn-sm" (click)="verImagenProducto(productoEncontrado)">Ver</button>
                  <button class="btn btn-dark btn-sm" (click)="venderProducto()">Vender</button>
                  <button class="btn btn-warning btn-sm" (click)="activarEdicion()">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarProducto()">Eliminar</button>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-4" *ngIf="mostrarTablaMultiple">
    <div class="col-md-10">
      <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Precio Descuento</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.idProducto }}</td>
            <td>
              <input *ngIf="producto.editando" [(ngModel)]="producto.nombre" class="form-control" />
              <span *ngIf="!producto.editando">{{ producto.nombre }}</span>
            </td>
            <td>
              <select *ngIf="producto.editando" [(ngModel)]="producto.tipo" class="form-select">
                <option *ngFor="let tipo of tipos" [value]="tipo.valor">{{ tipo.nombre }}</option>
              </select>
              <span *ngIf="!producto.editando">{{ producto.tipo | titlecase}}</span>
            </td>
            <td>
              <input *ngIf="producto.editando" [(ngModel)]="producto.precio" class="form-control" />
              <span *ngIf="!producto.editando">${{ producto.precio | number:'1.0-0' }}</span>
            </td>
            <td>
              <input *ngIf="producto.editando" [(ngModel)]="producto.precioDescuento" class="form-control" />
              <span *ngIf="!producto.editando">${{ producto.precioDescuento ? (producto.precioDescuento |
                number:'1.0-0') : 'N/A'}}</span>
            </td>
            <td>
              <input *ngIf="producto.editando" [(ngModel)]="producto.cantidad" class="form-control" />
              <span *ngIf="!producto.editando">{{ producto.cantidad }}</span>
            </td>
            <td>
              <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
                <div *ngIf="producto.editando" class="d-flex gap-2">
                  <button class="btn btn-info btn-sm" (click)="mostrarFormularioImagen(producto)">Subir
                    Imagen</button>
                  <button class="btn btn-success btn-sm" (click)="guardarEdicion(producto)">Guardar</button>
                  <button class="btn btn-secondary btn-sm" (click)="cancelarEdicion(producto)">Cancelar</button>
                </div>

                <div *ngIf="!producto.editando" class="d-flex gap-2">
                  <button *ngIf="!producto.imagen" class="btn btn-info btn-sm"
                    (click)="mostrarFormularioImagen(producto)">Subir
                    Imagen</button>
                  <button class="btn btn-secondary btn-sm" (click)="verImagenProducto(producto)">Ver</button>
                  <button class="btn btn-dark btn-sm" (click)="venderProducto(producto)">Vender</button>
                  <button class="btn btn-warning btn-sm" (click)="activarEdicion(producto)">Editar</button>
                  <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto)">Eliminar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div *ngIf="mostrarFormularioVenta" class="modal-flotante">
    <div class="modal-contenido p-4 rounded-4">
      <button class="btn-close" (click)="cerrarFormularioVenta()"></button>

      <h2 class="text-center mb-4">Vender Producto</h2>

      <div class="p-3 border rounded shadow-sm bg-light">
        <h5 class="mb-3 fw-bold">Producto: {{ productoParaVender?.nombre }}</h5>

        <p class="mb-1">
          <span class="fw-semibold text-muted">Stock disponible: {{ productoParaVender?.cantidad }}</span>
        </p>

        <p class="mb-1">
          <span class="fw-semibold text-muted">Precio: ${{ productoParaVender?.precio | number:'1.0-0' }}</span>
        </p>

        <p *ngIf="productoParaVender?.precioDescuento" class="mb-0">
          <span class="fw-semibold text-muted">Precio con descuento: ${{ productoParaVender?.precioDescuento |
            number:'1.0-0' }}</span>
        </p>
      </div>

      <div class="form-group text-start mb-3">
        <label class="form-label fw-bold">Cantidad</label>
        <input type="number" [(ngModel)]="cantidadVenta" (input)="calcularPrecioTotalVenta()" class="form-control"
          min="1" required />
      </div>

      <div class="form-check form-switch mt-3 mb-3 text-start" *ngIf="productoParaVender?.precioDescuento">
        <input type="checkbox" class="form-check-input" id="descuentoVenta" [checked]="aplicarDescuentoVenta"
          (click)="toggleDescuentoVenta()">
        <label class="form-check-label" for="descuentoVenta">Aplicar descuento</label>
      </div>

      <div class="form-group text-start mb-3">
        <label class="form-label fw-bold">Valor Unitario</label>
        <input type="text" [(ngModel)]="valorUnitarioVenta" class="form-control" disabled />
      </div>

      <div class="form-group text-start mb-3">
        <label class="form-label fw-bold">Precio Total</label>
        <input type="text" [(ngModel)]="precioTotalVenta" class="form-control" disabled />
      </div>

      <div class="d-flex justify-content-center gap-3 mt-4">
        <button type="button" class="btn btn-secondary" (click)="cerrarFormularioVenta()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarVenta()">Confirmar Venta</button>
      </div>
    </div>
  </div>

  <!--Imagen-->
  <div *ngIf="formularioImagenVisible" class="modal-flotante">
    <div class="modal-contenido p-4 rounded-4 position-relative">
      <button class="btn-close position-absolute top-0 end-0 m-3" (click)="cerrarFormularioImagen()"></button>

      <h4 class="text-center mb-4">Subir Imagen para: {{ productoSeleccionado?.nombre }}</h4>

      <div class="form-group mb-3">
        <label class="form-label fw-bold">Seleccionar imagen</label>
        <input type="file" class="form-control" (change)="onArchivoSeleccionado($event)" accept="image/*" />
      </div>

      <div class="form-text mb-3 text-center" *ngIf="nombreImagenSeleccionada">
        Imagen seleccionada: <strong>{{ nombreImagenSeleccionada }}</strong>
      </div>

      <div class="d-flex justify-content-center gap-3 mt-4">
        <button class="btn btn-secondary" (click)="cerrarFormularioImagen()">Cancelar</button>
        <button class="btn btn-primary" (click)="subirImagen()">Subir Imagen</button>
      </div>
    </div>
  </div>

  <!--Ver imagen-->
  <div *ngIf="mostrarImagenProducto" class="modal-flotante">
    <div class="modal-contenido p-4 rounded-4 position-relative text-center">
      <button class="btn-close position-absolute top-0 end-0 m-3" (click)="cerrarVistaImagen()"></button>
      
      <h4 class="bold mb-1">{{ productoSeleccionado?.nombre }}</h4>
      <img [src]="productoSeleccionado?.imagen" alt="Imagen del producto" class="img-fluid rounded mb-3 producto-img" />

      <h4 class="bold mb-1">{{ productoSeleccionado?.nombre }}</h4>
      <p class="fw-semibold text-muted mb-0">Precio: ${{ productoSeleccionado?.precio | number: '1.0-0' }}</p>
      <p class="fw-semibold text-muted mb-0" *ngIf="productoSeleccionado?.precioDescuento">
        Precio con descuento: ${{ productoSeleccionado?.precioDescuento | number: '1.0-0' }}
      </p>
      <p class="fw-semibold text-muted">Cantidad: {{ productoSeleccionado?.cantidad }}</p>
    </div>
  </div>


</div>