<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="input-group search-bar">
        <span class="input-group-text search-icon" (click)="buscarProducto()">
          <img src="lupa.svg" alt="Buscar" class="icon-img" />
        </span>

        <div class="separator-container">
          <div class="separator"></div>
        </div>

        <input type="text" [(ngModel)]="idProductoBuscar" (input)="filtrarProductos()" list="productosList"
          (keydown.enter)="buscarProducto()" placeholder="Ingrese el ID o Nombre del producto"
          class="form-control search-input" />
      </div>

      <datalist id="productosList">
        <option *ngFor="let producto of productosFiltrados" [value]="producto.idProducto">
          {{ producto.nombre }}
        </option>
      </datalist>

    </div>
  </div>

  <!-- Producto único por ID -->
  <div class="row justify-content-center mt-4 mb-4" *ngIf="productoEncontrado">
    <div class="col-md-10">
      <table class="table table-bordered text-center">
        <thead class="table-dark">
          <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Precio Descuento</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ productoEncontrado.idProducto }}</td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.nombre" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.nombre }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.tipo" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.tipo }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precio" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precio | number:'1.0-0' }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precioDescuento"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precioDescuento ? (productoEncontrado.precioDescuento | number:'1.0-0') : 'N/A'}}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.cantidad"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.cantidad }}</span>
            </td>
            <td>
              <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
                <button *ngIf="productoEncontrado.editando" class="btn btn-success btn-sm"
                  (click)="guardarEdicion()">Guardar</button>
                <button *ngIf="productoEncontrado.editando" class="btn btn-secondary btn-sm"
                  (click)="cancelarEdicion()">Cancelar</button>
                <button *ngIf="!productoEncontrado.editando" class="btn btn-warning btn-sm"
                  (click)="activarEdicion()">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarProducto()">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Tabla de productos por nombre -->
  <div class="row justify-content-center mt-4 mb-4" *ngIf="mostrarTablaMultiple">
    <div class="col-md-10">
      <table class="table table-striped table-bordered text-center">
        <thead class="table-dark">
          <tr>
            <th>ID Producto</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Precio Descuento</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productoEncontrado of productos">
            <td>{{ productoEncontrado.idProducto }}</td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.nombre" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.nombre }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.tipo" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.tipo }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precio" class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precio | number:'1.0-0' }}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.precioDescuento"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">${{ productoEncontrado.precioDescuento ? (productoEncontrado.precioDescuento | number:'1.0-0') : 'N/A'}}</span>
            </td>
            <td>
              <input *ngIf="productoEncontrado.editando" [(ngModel)]="productoEncontrado.cantidad"
                class="form-control" />
              <span *ngIf="!productoEncontrado.editando">{{ productoEncontrado.cantidad }}</span>
            </td>
            <td>
              <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
                <button *ngIf="productoEncontrado.editando" class="btn btn-success btn-sm"
                  (click)="guardarEdicion()">Guardar</button>
                <button *ngIf="productoEncontrado.editando" class="btn btn-secondary btn-sm"
                  (click)="cancelarEdicion()">Cancelar</button>
                <button *ngIf="!productoEncontrado.editando" class="btn btn-warning btn-sm"
                  (click)="activarEdicion()">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="eliminarProducto()">Eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="text-center mt-3" *ngIf="productoEncontrado || mostrarTablaMultiple">
    <button class="btn btn-dark btn-sm" (click)="cerrarTablaMultiple()">Cerrar tabla</button>
  </div>
</div>